h1 {color:#0080ff; font-family:western, fantasy;}

h2 {color:#ff0080; font-family:roman, 'times new roman', times, serif;}

p {color:purple; font-family:roman, 'times new roman', times, serif;
background-color:aqua;}